

<h1>Catering Manager</h1>
<div id="receipt-container">
    <form>
      
    
        
    <br>
    <label for="name">Name:</label>
    <input type="text", placeholder="{{ name }}" disabled >
    <br>
    <label for="address">Delivery Address:</label>
    <input type="text"  placeholder="{{ adress }}" disabled>
    <br>
    <label for="phone">Phone Number:</label>
    <input type="text" placeholder="{{ phone }}" disabled >
    <br>
    <label for="persons">Number of Persons:</label>
    <input type="text" placeholder="{{ persons }}" disabled >
    <br>
    <label for="date">Delivery Date:</label>
    <input type="text" placeholder="{{ date}}" disabled >
    <br>
    <label for="time">Delivery Time:</label>
    <input type="text" placeholder="{{ time }}" disabled>
    <br>
    <label for="email">Email:</label>
    <input type="email" placeholder="{{ email }}" disabled>
    <br>
    
 
    
    
    

 
    <label for="order-id">Order ID:</label>
    <select id="order-id" onchange="loadOrder()">
    {% comment %} {% for order in orders %} {% endcomment %}
     <option value="{{ order.item }}">{{ order.id }}</option>
   
      
      <!-- Add options for each order here -->
    </select>
    <br>
    <table id="order-items">
      <tr>
        <th>Item </th>
        
        <th>Quantity</th>
        <th>Price</th>
        
      </tr>
       <tr>
        <th>I </th>
        
        <th></th>
        <th></th>
        
      </tr
       

    </table>
    <button type="button" onclick="Sent()">sent to Shef</button>
   
  {% comment %} {% endfor %}  {% endcomment %}
  </form>
</div>
 <style>
select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:disabled, input[type="email"]:disabled, input[type="date"]:disabled, input[type="time"]:disabled, select:disabled {
  background-color: #f5f5f5;
}

#receipt-container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"], input[type="email"], input[type="date"], input[type="time"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:disabled, input[type="email"]:disabled, input[type="date"]:disabled, input[type="time"]:disabled {
  background-color: #f5f5f5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}
body {
    background-color: #444442;
    padding-top: 0px;
}
h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 200;
    font-size: 72px;
    color: white;
    text-align: center;
}
</style> 
